<html xmlns:th="https://www.thymeleaf.org/">

<div th:replace="fragments/commonui :: header"></div>

<body>
<div th:replace="fragments/commonui :: menu"></div>
<div class="container">
    <div class="card">
        <div class="card-header bg-primary text-center text-white">
            <h3>SLOT REQUEST DATA</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <tr class="bg-info text-white">
                    <th></th>
                    <th>PATIENT</th>
                    <th>DATE</th>
                    <th>DOCTOR</th>
                    <th>STATUS</th>
                    <th>OPERATION</th>
                </tr>
                <tr th:each="ob,i:${list}">
                    <td>[[${i.count}]]</td>
                    <td>[[${ob.patient.firstName + ' ' +ob.patient.lastName}]]</td>
                    <td>[[${ob.appointment.date}]]</td>
                    <td>[[${ob.appointment.doctor.firstName +' '+ob.appointment.doctor.lastName}]]</td>
                    <td>[[${ob.status}]]</td>
                    <td>
                        <th:block th:if="${ob.status=='PENDING'}">
                            <a th:href="@{/slots/accept(id=${ob.id})}" class="btn btn-success">ACCEPT <i
                                    class="fa fa-pencil-square-o" aria-hidden="true"></i></a> |
                            <a th:href="@{/slots/reject(id=${ob.id})}" class="btn btn-danger">REJECT <i
                                    class="fa fa-trash-o" aria-hidden="true"></i> </a>
                        </th:block>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>