<html xmlns:th="https://www.thymeleaf.org/">
<div th:replace="fragments/commonui :: header"></div>

<body>
<div th:replace="fragments/commonui :: menu"></div>
<div class="container">
    <div class="card">
        <div class="card-header bg-primary text-center text-white">
            <h3><u>+ WELCOME TO MY HOSPITAL APPLICATION +</u></h3>
        </div>
        <!--<img th:src="@{/images/1.png}"/>-->
        <img class="img-fluid" th:src="@{/images/1.png}" alt="Chania">
    </div>
</div>
</body>
</html>